.categoria-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 60px;
}

.secao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.categoria-titulo{
    text-align: center;
    padding-top: 50px;
}

.secao_titulo{
    background-color: var(--preto-principal);
    color: var(--branco-principal);
    margin: 0;
    padding: 10px 24px;
    width: 70%;
    text-align: center;
    font-family: var(--fonte-principal);
}