.conteudo{
 width: 800px;
 height: 150px;
 background-color: var(--branco-principal);
 border: 1px solid var(--preto-principal);
 padding: 20px;
 text-align: center;
 margin: auto;
 font-family: var(--fonte-principal);
 font-size: 16px;
 margin-top: 50px;
 margin-bottom: 25px;
}

.conteudo_texto{
    text-align: center; 
    font-family: var(--fonte-principal);
    margin-bottom: 1.5rem;
    align-items: center;
}

.contato_email{
    min-width: 30rem;
    min-height: 2rem;  
    font-size: 20px;
    padding-left: 20px;
    color: var(--terciaria1);
}

.conteudo_botao{
    background-color: var(--terciaria1);
    border: none;
    width: 135px;
    height: 50px;
}