.card{
   display: flex;
   flex-direction: column;
   margin: 10px;
   width: 300px;
   border: 1px solid var(--primaria1); 
   margin-top: 10px;
   
}

.produtos{
    text-align: center;
    font-family: var(--fonte-principal);
    margin-bottom: 60px;
    margin-top: 35px;
}



.produto_anuncio{
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.produto_container{
 display: grid;
grid-template-columns: 335px 335px 335px;
justify-content: center;
gap: 26px;
margin-top: 55px;
margin-bottom: 10px;
padding-top: 10px;
}

.ver-mais-btn{
    background-color: var(--terciaria1);
    color: var(--branco-principal);
    border: none;
    border-top: 10px;
    font-size: 22px;
    border-top: 0;
    display: inline-block;
    width: 150px;
    height: 50px;
   align-items: center;
   margin-bottom: 10px;
   cursor: pointer;
}

.produto_descricao{
   text-align: center;
   font-size: 12px;
   margin-bottom: 20px;
}

.produto_descricao1{
    font-weight: bold;
    padding-bottom: 15px;
}