.card{
   display: flex;
   flex-direction: column;
   margin: 10px;
   width: 300px;
   
}

.produtos{
    text-align: center;
    font-family: var(--fonte-principal);
}



.produto_anuncio{
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 24px;
}

.produto_container{
 display: grid;
grid-template-columns: 500px 500px 500px;
justify-content: stretch;
padding: 5vh;
}

.ver-mais-btn{
    background-color: var(--terciaria1);
    color: var(--branco-principal);
    border: none;
    border-top: 10px;
    font-size: 22px;
    border-top: 0;
    display: inline-block;
}