.redes-sociais{
    background-color: var(--preto-principal);
    
}

.redes_titulo{
 color: var(--secundaria1);
 float: right;
 font-family: var(--fonte-principal);
 margin-top: 10px;

}

.rede_texto{
    color: var(--branco-principal);
}

