.rodapé{
    background-color: var(--preto-principal);
}

.rodapé_titulo{
    font-family: var(--fonte-principal);
    color: var(--branco-principal);
    font-size: 16px;
   text-align: center;
   height: 50px;
   margin-bottom: auto;
}